@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
}

.logo {
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    margin-right: auto;
    color: #edf0f1;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all o.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

.table-data {
    margin: 0%;
    display: block;
    align-items: center;
    text-align: left;
    padding: 0 10%;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 37px auto 0;
    width: calc(280px * 4);
}

.card {
    box-shadow: 0 3px 10px 0 #aaa;
    height: 120px;
    position: relative;
    width: 250px;
    border-radius: 10px;
    margin: 0 auto 2rem;
}

.card h2 {
    font-size: 20px;
    font-weight: bold;
}

.card.visited {
    box-shadow: 0 3px 10px 2px #444;
}

@media (max-width: 1100px) {
    .cards {
        grid-template-columns: 1fr 1fr;
        width: calc(280px * 2);
    }

    .card {
        margin: 0 auto 2rem;
    }
}

@media (max-width: 768px) {
    .cards {
        display: block;
        width: 100vw;
    }

    .card {
        margin: 0 auto 2rem;
    }
}

.head-box {
    font-family: "Montserrat", sans-serif;
    margin: 20px;
    color: #edf0f1;
}

.bt {
    list-style: none;
    margin: 0 5px;
    display: inline-block;
    text-align: center;
    width: 240px;
}

.bt li {
    display: inline-block;
    /* padding: 0px 20px; */
}

.buttonOFF {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #ab2314;  
    border: none;
    border-radius: 10px;
}
.buttonOFF:hover {background-color: #5a120a;}

.buttonON {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #08930f;  
    border: none;
    border-radius: 10px;
}
.buttonON:hover {background-color: #055809;}